{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RC</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="{% static '/img/logo-rc-solo.jpg' %}">
  <link rel="stylesheet" href="{% static '/css/styles.css' %}">


</head>
<body>
  <section id="index-section-participants-banner">
    <section id="participants-table-section">
      <img id="rc-logo-small" src="{% static '/img/rc.png' %}" alt="">
      <h1 id="sold-title">RIFAS VENDIDAS <span id="raffle-number">{{rifas_vendidas}}</span></h1>
      <div id="participants-table-container">
        {% for participant in participants %}
          <div id="participant-container" class="participant-container">
            <h2 class="participant-name">{{participant.full_name|upper}}</h2>
            <h2 class="participant-points">{{participant.points}}</h2>
          </div>
        {% endfor %}
      </div>
      <div id="rewards-container">
        <div id="reward-container-1" class="reward-container">
        </div>
        <div id="reward-container-2" class="reward-container">
        </div>
        <div id="reward-container-3" class="reward-container">
        </div>
      </div>
    </section>
    <div id="regnum-christi-banner">
      <img id="rc-logo" src="{% static '/img/logoblanco.png' %}" alt="">
    </div>
  </section>

  <section id="index-house-section">
    <div id="house-1-container" class="house-container">
      <p  id="index-house-banner-info-1" class="">"Por el reino de Cristo y la gloria de Dios".</p>
    </div>
    <div id="house-2-container" class="house-container">
      <p id="index-house-banner-info-2" class="">"Christus Vita Vestra".</p>    </div>
    <div id="house-3-container" class="house-container">
      <p id="index-house-banner-info-3" class="">"Sé que esta casa será un lugar donde se harán grandes proyectos por Dios y por Venezuela. 
        Además será un lugar de encuentro de cientos de jóvenes con Dios. Formando a esos jóvenes, desde cada corazón moldeado, 
        daremos de comer al hambriento, de beber al sediento, 
        salud al enfermo y seremos luz para miles de personas que quizás nunca se enteren
        de que esta casa fue el hogar de grandes obras según el plan de Dios". - P. Elias
      </p>  
      
    </div>
  </section>

  {% block script %}
    <script src="{% static '/js/scroll-animation.js' %}"></script>
  {% endblock %}
</body>
</html>